
<!--电影列表开始-->
<div class="list">
    <ul>
        <li ng-repeat="item in list.subjects">
            <a href="#/movie/details/{{item.id}}">
                <img ng-src="{{ item.images.large }}" alt="">
            </a>
            <div class="meta">
                <h4 style="overflow:hidden;"><span style="margin-left: -100px;margin-right: 90px">夏</span><span>{{ item.title }}</span> <em>{{ item.rating.average }}分</em></h4>
                <div class="otherinfo">类型:<span>{{ item.genres.join(',') }}</span></div>
            </div>
        </li>
    </ul>
    <div class="paging">
        <label>总共：{{ total }}条记录,第{{page}}/{{ totalPage }}页;</label>
        <!-- 加上disable类样式，表示按钮禁用状态 -->
        <button ng-click="goPage(page-1)" ng-class="{disable:page<=1}" class="prev">上一页</button>
        <button ng-click="goPage(page+1)" ng-class="{disable:page>=totalPage}" class="next">下一页</button>
    </div>

    <!-- loading 动画 begin -->

    <div ng-show="isLoading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <!-- loading 动画 end -->
</div>
<!--电影列表结束-->